<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="add_custom_field_checkout_form" type="Custom\ExtraAddress\Model\Plugin\Checkout\LayoutProcessor" sortOrder="100"/>
    </type>
    <type name="Magento\Framework\Api\DataObjectHelper">
        <plugin name="custom_exten_attributes" type="Custom\ExtraAddress\Model\Plugin\General" sortOrder="100"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="render_type" type="Custom\ExtraAddress\Model\Plugin\FormatterAddress" sortOrder="100"/>
    </type>
</config>