<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <weightshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Custom\WeightShipping\Model\Carrier\WeightShipping</model>
                <name>Shipping Weight</name>
                <title>Weight-Cost</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </weightshipping>
        </carriers>
    </default>
</config>