<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="custom_url" translate="label" sortOrder="100">
            <label>Customize URL</label>
        </tab>
        <section id="custom_url" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration URL</label>
            <tab>custom_url</tab>
            <resource>Custom_CustomizeUrl::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>URL Configuration Options</label>
                <field id="url_category" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Short Url for category</label>
                </field>
                <field id="url_product" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Short Url for product</label>
                </field>
            </group>
        </section>
    </system>
</config>