<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogUrlRewrite\Model\ProductUrlPathGenerator">
        <plugin name="UrlRebuildProduct" type="Custom\CustomizeUrl\Plugin\UrlProduct" sortOrder="1"/>
    </type>
    <type name="Magento\CatalogUrlRewrite\Model\CategoryUrlPathGenerator">
        <plugin name="UrlRebuildCategory" type="Custom\CustomizeUrl\Plugin\UrlCategory" sortOrder="1"/>
    </type>
</config>