<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_CmsMenu::cms_menu" title="Menu" translate="title" module="Custom_CmsMenu" sortOrder="99" parent="Magento_Backend::content_elements" action="cmsmenu/menu" resource="Custom_CmsMenu::menu"/>
    </menu>
</config>
