<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="login_as_customer_listing_data_source" xsi:type="string">Custom\AuthUser\Model\ResourceModel\Login\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Custom\AuthUser\Model\ResourceModel\Login\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">mglogin_as_customer</argument>
            <argument name="resourceModel" xsi:type="string">Custom\AuthUser\Model\ResourceModel\Login</argument>
        </arguments>
    </virtualType>
</config>