<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Model\Product\SaveHandler">
        <plugin name="configurationDefault" type="Custom\DefaultProduct\Model\Plugin\Product\SaveHandler" sortOrder="10" />
    </type>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="configurable" xsi:type="array">
                    <item name="class" xsi:type="string">Custom\DefaultProduct\Ui\DataProvider\Product\Form\Modifier\Composite</item>
                    <item name="sortOrder" xsi:type="number">150</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Custom\DefaultProduct\Ui\DataProvider\Product\Form\Modifier\Composite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="configurablePanel" xsi:type="string">Custom\DefaultProduct\Ui\DataProvider\Product\Form\Modifier\ConfigurablePanel</item>
            </argument>
        </arguments>
    </type>
</config>
