<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cmsmenu_menu_listing_data_source" xsi:type="string">Custom\CmsMenu\Model\Menu\ResourceModel\Menu\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Custom\CmsMenu\Model\Menu\ResourceModel\Menu\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">mgcms_page_link</argument>
            <argument name="resourceModel" xsi:type="string">Custom\CmsMenu\Model\Menu\ResourceModel\Menu</argument>
        </arguments>
    </virtualType>
</config>